{{ if (eq .chezmoi.os "linux") -}}
if [[ -z $DISPLAY && $(tty) == /dev/tty1 && $XDG_SESSION_TYPE == tty ]]; then
  # Evaluate Env Vars from ~/environment.d/*.conf
  while read -r l; do
    eval export $l
  done < <(/usr/lib/systemd/user-environment-generators/30-systemd-environment-d-generator)

  ## GNOME
  #exec dbus-run-session gnome-session

  ## Sway
  export XDG_CURRENT_DESKTOP=sway
  exec sway

  ## KDE
  #dbus-run-session startplasma-wayland
fi
{{ end -}}
