#!/usr/bin/env zsh

set -euxo pipefail

systemctl --user enable app-com.mitchellh.ghostty.service
systemctl --user start app-com.mitchellh.ghostty.service

systemctl --user add-wants niri.service dms
