theme = Ayu Mirage

font-family = "{{ .linux.fonts.latin.terminal_monospace }}"
font-size = 13

scrollback-limit = 5243000

shell-integration = detect

quit-after-last-window-closed = false
# quit-after-last-window-closed-delay = "10m"

keybind = clear

keybind = ctrl+l=reset
keybind = ctrl+shift+c=copy_to_clipboard
keybind = ctrl+shift+v=paste_from_clipboard
