[Desktop Entry]
Name=GNOME (Custom)
Comment=This session logs you into GNOME (Custom)
Exec={{ gnome_launcher_path }}
TryExec={{ gnome_launcher_path }}
Type=Application
DesktopNames=GNOME
X-GDM-SessionRegisters=true
