exec-once = /usr/lib/polkit-kde-authentication-agent-1

exec-once = nwg-panel -c hyprland.json

exec-once = swaync

{{- if (eq .linux.general.terminal "footclient") }}
exec-once = foot --server
{{ end }}

exec-once = udiskie

exec-once = ~/.azotebg

exec-once = gammastep

exec-once = nm-applet --indicator
