$term = {{ .linux.general.terminal }}
$browser = {{ .linux.general.browser }}
$editor = gedit
$launcher = {{ .linux.general.launcher }}
$locker = {{ .linux.general.locker }}
$powermenu = {{ .linux.general.powermenu }}
