# Go
GOPATH=$HOME/.local/go
PATH=$GOPATH/bin:$PATH

# Yarn
PATH=$HOME/.config/yarn/global/node_modules/.bin:$PATH

# Rust
RUSTUP_HOME=$HOME/.local/rustup
CARGO_HOME=$HOME/.local/cargo
PATH=$CARGO_HOME/bin:$PATH

# Java
{{ if (eq .chezmoi.osRelease.id "arch") -}}
JAVA_HOME=/usr/lib/jvm/default
{{ end -}}

PULUMI_HOME=$HOME/.local/pulumi