# Go
{{ if not (contains "Work" .chezmoi.hostname) -}}
GOPATH=/mnt/data/.local/.go
{{ else }}
GOPATH={{ .chezmoi.homeDir }}/.local/go
{{ end -}}
PATH=$GOPATH/bin:$PATH

# Yarn
PATH=$HOME/.config/yarn/global/node_modules/.bin:$PATH

# Rust
RUSTUP_HOME={{ .chezmoi.homeDir }}/.local/rustup
CARGO_HOME={{ .chezmoi.homeDir }}/.local/cargo
PATH=$CARGO_HOME/bin:$PATH

# Java
{{ if (eq .chezmoi.osRelease.id "arch") -}}
JAVA_HOME=/usr/lib/jvm/default
{{ end -}}

{{ if not (contains "Work" .chezmoi.hostname) -}}
# Pulumi
PULUMI_HOME=/mnt/data/.local/.pulumi
{{ end -}}