<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<fontconfig>
  <!-- Emphasize on Font Bindings -->
  <match target="pattern">
    <test qual="any" name="family">
      <string>sans-serif</string>
    </test>

    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .linux.fonts.latin.sans }}</string>
      <string>Liberation Sans</string>
      <string>{{ .linux.fonts.thai.sans }}</string>
      <string>Noto Color Emoji</string>
      <string>Noto Sans Math</string>
    </edit>
  </match>

  <match target="pattern">
    <test qual="any" name="family">
      <string>serif</string>
    </test>

    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .linux.fonts.latin.serif }}</string>
      <string>Liberation Serif</string>
      <string>{{ .linux.fonts.thai.serif }}</string>
      <string>Noto Sans Math</string>
    </edit>
  </match>

  <match target="pattern">
    <test qual="any" name="family">
      <string>monospace</string>
    </test>

    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .linux.fonts.latin.monospace }}</string>
      <string>Liberation Mono</string>
      <string>{{ .linux.fonts.thai.monospace }}</string>
      <string>Noto Sans Math</string>
    </edit>
  </match>

  <match target="pattern">
    <test qual="any" name="family">
      <string>ui-monospace</string>
    </test>

    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .linux.fonts.latin.ui_monospace }}</string>
      <string>Hack</string>
      <string>Liberation Mono</string>
      <string>{{default ".linux.fonts.thai.ui_monospace" .linux.fonts.thai.monospace }}</string>
    </edit>
  </match>

  <match target="pattern">
    <test qual="any" name="family">
      <string>system</string>
    </test>

    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .linux.fonts.latin.ui }}</string>
      <string>Ubuntu</string>
      <string>Liberation Sans</string>
    </edit>
  </match>


  <match target="pattern">
    <test qual="any" name="family">
      <string>math</string>
    </test>

    <edit name="family" mode="prepend" binding="strong">
      <string>Noto Sans Math</string>
    </edit>
  </match>

  <!-- <alias>
    <family>system-ui</family>
    <prefer>
      <family>Inter</family>
      <family>Ubuntu</family>
      <family>Liberation Sans</family>
      <family>Loma</family>
    </prefer>
  </alias> -->

</fontconfig>