# Wallpapers
exec ~/.azotebg

# Notification
# exec mako
exec swaync

# Display Color Temperature
exec gammastep

# nwg-drawer cache
exec_always nwg-drawer -r -nofs

# NetworkManager System tray
exec nm-applet --indicator

{{ if (eq .linux.general.terminal "footclient") }}
exec foot --server
{{ end }}

# Idle Handling
exec swayidle -w \
          timeout 300 '$locker' \
          timeout 360 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
          timeout 600 'systemctl suspend' resume 'swaymsg "output * dpms on"' \
          before-sleep '$locker'