# Status Bar
exec waybar -c ~/.config/waybar/sway.json -s ~/.config/waybar/sway.css

# PolicyKit Agent
exec --no-startup-id /usr/lib/polkit-kde-authentication-agent-1

# Notification
exec swaync

{{- if (eq .linux.general.terminal "footclient") }}
exec foot --server
{{ end }}

# udisks2 Frontend
exec udiskie

# Wallpapers
exec ~/.azotebg

{{ if (eq .linux.general.launcher "nwg-drawer" ) }}
# nwg-drawer cache
exec_always nwg-drawer -r -nofs
{{ end }}

# Display Color Temperature
exec gammastep-indicator

# NetworkManager System tray
exec nm-applet --indicator

# Idle Handling
exec swayidle -w \
          timeout 300 '$locker' \
          timeout 360 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
          timeout 600 'systemctl suspend' resume 'swaymsg "output * dpms on"' \
          before-sleep '$locker'